body {
    font-family: Helvetica;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
}

header {
    display: box;
    text-align: center;
    background-image: url("https://plus.unsplash.com/premium_photo-1697729420937-0ecb0ddb6e85?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c2luZ2Fwb3JlJTIwbGFuZHNjYXBlfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    width: 100%;
    background-position: center center;
    background-size: cover;
    padding-bottom: 50px;
    margin-bottom: 20px;

}

h1 {
    font-size: 3em;
    color: white;
}

nav {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

nav ul {
    /* display: flex; */
    /* text-align: center; */
    list-style-type: none;
}

nav li {
    /* display: inline; */
    text-decoration: underline;
    font-size: 1.7rem;
    margin-left: 30px;
}

nav a {
    color: white;
}

.about {
    display: flex;
}

.about-text {
    max-width: 800px;
}

.about-text h2 {
    font-size: 2.5em;
}

.about-text p {
    font-size: 1.5em;
}