body {
    font-family: Helvetica;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

header {
    display: box;
    text-align: center;
    background-image: url("https://plus.unsplash.com/premium_photo-1697729420937-0ecb0ddb6e85?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c2luZ2Fwb3JlJTIwbGFuZHNjYXBlfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    width: 100%;
    background-position: center center;
    background-size: cover;
    padding-bottom: 50px;
    margin-bottom: 20px;

}

h1 {
    font-size: 3em;
    color: white;
    padding-top: 30px;
    margin-top: 0px;
}

nav {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

nav ul {
    /* display: flex; */
    /* text-align: center; */
    list-style-type: none;
    margin-right: 20px;
    text-align: right;
}

nav li {
    /* display: inline; */
    text-decoration: underline;
    font-size: 1.7rem;
    margin-left: 30px;
}

nav a {
    color: white;
    font-weight: bold;
}

.about {
    display: flex;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.about-text {
    max-width: 800px;
    min-width: 400px;
}

.about-text h2 {
    font-size: 2.5em;
}

.about-text p {
    font-size: 1.5em;
}

.about-image img{
   max-width: 100%;
   min-width: 400px;
   min-height: 200px;
}

.projects {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.projects-image {
    max-width: 700px;
    min-width: 400px;
}

.projects-image img {
    max-width: 100%;
    min-width: 400px;
}

.projects-text {
    margin-left: 50px;
    margin-top: 0px;
    padding-top: 0px;
    max-width: 800px;
    min-width: 400px;
}

.projects h2 {
    font-size: 2.5em;
}

.projects-text h3 {
    font-size: 1.5em;
}

#project-1:hover {
    cursor: pointer;
}

#project-2:hover {
    cursor: pointer;
}

#project-3:hover {
    cursor: pointer;
}

#project-descrp-1 {
    display: none;
}

#project-descrp-2 {
    display: none;
}

#project-descrp-3 {
    display: none;
}

.dark-mode {
    background-color: #222;
    color: #eee;
}

.expertise {
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.expertise h2 {
    font-size: 2.5em;
}

.list-of-skills {
    display: flex;
    justify-content: center;
}


.contact {
    display: flex;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.contact-text h2 {
    font-size: 2.5em;
}

@media only screen and (max-width: 750px) {
    .about, .projects{
        flex-direction: column;
        align-items: center;
    }

    .about-text, .projects-text{
        margin-left: 50px;
        margin-right: 0px;
        text-align: left;
    }

    .expertise {
        margin-left: 20px;
    }
}